<ion-header class="en-tete">
  <ion-toolbar>
    <ion-title>Réglages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenu">
    <ion-list class="bloc">
      <ion-list-header>
        <ion-label>Notifications</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon slot="start" name="notifications" aria-hidden="true"></ion-icon>
        <ion-toggle [checked]="notificationsActives()" (ionChange)="notificationsActives.set($any($event).detail.checked)">
          <ion-label>
            Suivi de mes signalements
            <ion-note>Être prévenu quand le statut change</ion-note>
          </ion-label>
        </ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="bloc">
      <ion-list-header>
        <ion-label>Envoi</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon slot="start" name="wifi" aria-hidden="true"></ion-icon>
        <ion-toggle [checked]="envoiWifiSeulement()" (ionChange)="envoiWifiSeulement.set($any($event).detail.checked)">
          <ion-label>
            Envoyer en Wi-Fi uniquement
            <ion-note>Les signalements attendent une connexion Wi-Fi</ion-note>
          </ion-label>
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-toggle [checked]="compressionPhoto()" (ionChange)="compressionPhoto.set($any($event).detail.checked)">
          <ion-label>
            Compresser les photos
            <ion-note>Réduit la taille avant l'envoi</ion-note>
          </ion-label>
        </ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="bloc">
      <ion-list-header>
        <ion-label>Apparence</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-icon slot="start" name="moon" aria-hidden="true"></ion-icon>
        <ion-label>
          Thème
          <ion-note>Suit le réglage de votre téléphone</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="bloc">
      <ion-list-header>
        <ion-label>À propos</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-icon slot="start" name="information-circle" aria-hidden="true"></ion-icon>
        <ion-label>
          Version
          <ion-note>{{ version }}</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
